body {
    background-image: url("./gamebackground.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    user-select: none;

    
}

.globe:hover, .spreadsheet:hover, .newspaper:hover, .phone:hover, .policyfolders:hover, .wallchart:hover {
    opacity: 0.7;
    cursor: pointer; 
}

.wallchart:hover {
    opacity: 0.5;
}

#globe img{
    width: 6.3vw;
    position: absolute;        
    height: auto;        
    top: 63vh;            
    left: 23vw;           
    transform: translate(-50%, -50%);  
    margin: 0;
    
}

#spreadsheet img {
    width: 4vw;
    position: absolute;         
    height: auto;        
    top: 62vh;            
    left: 50.2vw;           
    transform: translate(-50%, -50%);  
    cursor: pointer;
}

#newspaper img {
    width: 7.5vw;
    position: absolute;         
    height: auto;        
    top: 75vh;            
    left: 20vw;           
    transform: translate(-50%, -50%);  
    cursor: pointer;
}

#phone img {
    width: 3.3vw;
    position: absolute;         
    height: auto;        
    top: 63.3vh;            
    left: 53.5vw;           
    transform: translate(-50%, -50%);  
    cursor: pointer;
}

#policyfolders img{
    width: 7.5vw;
    position: absolute;         
    height: auto; 
    transform: translate(-50%, -50%);         
    top: 60.5vh;            
    left: 58.5vw;           
    cursor: pointer;
}

#wallchart img {
    width: 6.5vw;
    position: absolute;        
    height: auto;  
    transform: translate(-50%, -50%);      
    top: 44vh;            
    left: 4.2vw;            
    cursor: pointer;
    
}
